* {
  box-sizing: border-box;
}

*>a {
  text-decoration: none;
  color: inherit;
}

.logo {
  background: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  padding: 16px 20px;
  width: 106px;
}

.header-right-items {
  display: block;
  height: 48px;
  padding: 16px;
  width: 48px;
}

.fa-search {
  transform: rotate(90deg);
  opacity: 0.25;
  font-size: 1.1em;
}

.announcement-bar {
  background-color: #fd3;
  color: #000;
  display: block;
}

.announcement-bar::after {
  content: "→";
}

.header-nav-top {
  background: #131313;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  max-height: 32px;
  display: flex;
  justify-content: space-between;
  width: 86vw;
}

.nav-top-list-first-child {
  margin-left: 20px;
  color: #fff;
}

.nav-top-link {
  margin-left: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.header-nav-bottom {
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: flex;
  justify-content: space-between;
  height: 48px;
  letter-spacing: 0.04em;
  line-height: 48px;
  font-size: 0.8em;
}

.nav-bottom-first-child {
  padding-left: 20px;
}

.nav-bottom-left {
  display: flex;
}

.nav-bottom-link {
  padding: 18px 10px 0;
  color: inherit;
}

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
  }

  .tablet {
    display: none;
  }

  .logo {
    height: 48px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
  }

  .burger-stripes {
    background-color: #f42;
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 4px;
  }

  .announcement-bar {
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    padding: 0 6px;
  }

  .top-cover-wrapper {
    position: relative;
    top: 18vh;
  }

  .cover {
    min-height: 30vh;
    width: 100%;
    position: relative;
  }

  .cover-header {
    position: absolute;
    padding: 14px;
    color: #fff;
  }

  .cover-left {
    background-image: url(./img/top-img-1.jpg);
    background-size: 96% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
  }

  .cover-right-top {
    background-image: url(./img/top-img-2.jpg);
    background-size: 96% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
  }

  .cover-right-bottom {
    background-image: url(./img/top-img-3.jpg);
    background-size: 96% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
  }
}

/* end */

/* tablet */

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {

  .mobile,
  .laptop {
    display: none;
  }

  .logo {
    float: left;
    height: 80px;
  }

  .header-nav {
    float: left;
  }

  .header-nav-top-left {
    float: left;
    display: flex;
  }

  .announcement-bar {
    line-height: 60px;
    font-size: 13px;
    padding-left: 126px;
    clear: both;
    text-align: left;
  }
}

/* end */

/* laptop-start */
@media only screen and (min-device-width: 769px) and (max-device-width: 2560px) {

  .mobile-tablet,
  .mobile {
    display: none;
  }

  .header-nav-top {
    width: 100vw;
  }

  .header-nav-top-left {
    float: left;
    display: flex;
  }

  .header-nav-top-right {
    display: flex;
    float: right;
  }

  .nav-top-last-child {
    margin-right: 20px;
  }

  .nav-bottom-first-child {
    padding-left: 18px;
  }

  .nav-bottom-icon {
    font-size: 1.5em;
    position: relative;
    top: -14px;
  }

  .nav-bottom-icon>a {
    font-size: 1.5em;
  }

  .announcement-bar {
    line-height: 30px;
    padding-left: 20px;
    clear: both;
  }
}

/* laptop end */

/* hillarys boundary */
.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news-headers {
  display: flex;
  justify-content: flex-start;
}

.news-headers h1 {
  font-weight: bold;
  color: red;
  font-size: 30px;
  margin: 20px 0;
}

.news-most-popular {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: fit-content;
  padding-left: 10px;
 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background1 { background-image: url(img/top-img-1.jpg);}

.background2 {background-image: url(img/top-img-2.jpg);}

.background3 {background-image: url(img/Indian-IT-796x418.jpg);}

.background4 {background-image: url(img/1-16-796x417.jpg);}

.background5 {background-image: url(img/usa-flag.PNG);}

.background6 {background-image: url(img/maxresdefault-796x448.jpg);}

.background7 {background-image: url(img/Google-coronavirus-portal-796x419.jpg);}

.background8 {background-image: url(img/Screen-Shot-2020-01-30-at-8.40.06-AM-796x462.png);}

.news-wrapper {
  position: relative;
  overflow: hidden;
  bottom: -130px;
}

.most-popular-h1 {
  font-weight: bold;
  font-size: 12px;
  color: white;
}

.most-popular-a {
  color: white;
  height: auto;
  margin: 10px 0;
  font-size: 24px;
}

.news-date-container {
  font-size: 13px;
  color: rgb(199, 195, 195);
}

.news-author a:hover {
  color: white;
}

.news-horizontal {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 209, 209);
  height: auto;
  width: fit-content;
  padding-left: 10px;
}

.news-articles-headline {
  color: red;
}

.news-latest-h1 {
  font-size: 13px;
  color: red;
  margin: 10px 0 5px 0;
}

.news-articles-headline-img img {
  height: 100px;
  width: 118px;
  margin-left: 4px;
  margin-top: 2px;
}

.news-articles-headline-p {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.news-articles-li {
  color: red;
}

.news-articles-li a {
  color: #000;
}

.news-articles hr {
  color: gray;
}

/*

*/

/* news section */

/* news section end */

/* latest deals start */

.latest-deals,
.news {
  margin: 0 100px 0 100px;
}

.latest-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 40px;
  width: 100%;
}

.latest-deal-link a {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.deals-img img {
  width: 100%;
  height: auto;
}

.see-all-deals a {
  font-size: 20px;
  color: red;
}

.deals-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.deals-description {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.deals-description h1 {
  font-weight: bold;
  color: #000;
  margin: 5px 0 3px 0;
}

.deals-description h1:hover {
  color: red;
}

.underline {
  text-decoration: line-through;
  color: gray;
}

.price {
  margin: 5px 0;
}

/* latest deals end */

/*
footer start */

.footer {
  text-align: center;
  background-color: rgb(26, 25, 25);
}

.footer-links-social,
.footer-links-menu,
.footer-legal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links-social li {
  border-radius: 50%;
  border: 2px solid rgb(41, 40, 40);
  background-color: rgb(41, 40, 40);
  height: 40px;
  width: 40px;
  margin-top: 30px;
}

.footer-links-social li a i {
  text-decoration: none;
  margin-top: 8px;
  font-size: 18px;
  color: white;
}

.footer-links-menu li a {
  color: gray;
  font-size: 13px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.footer-links-social {
  margin-bottom: 30px;
}

.fa-wifi {
  transform: rotate(30deg);
}

.footer-links-menu li {
  margin-bottom: 20px;
}

.footer-links-social li:hover {
  background-color: rgb(26, 25, 25);
}

.footer-links-menu {
  width: 100%;
}

.stackpath-a {
  color: white;
  text-decoration: none;
}

.tnwimg {
  height: 30px;
  width: 40px;
}

.redheart {
  color: red;
}

.footer-links-menu li a:hover {
  color: white;
}

.footer-legal {
  background: #000;
  padding: 2.5em 0;
  color: #aaa;
  font-size: 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .latest-deals {
    margin: 0 20px 0 20px;
  }

  .deals-description h1 {
    font-size: 13px;
  }

  .price {
    font-size: 13px;
  }

  .deals-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .deals-container {
    display: flex;
    flex-direction: row;
  }

  .deals-img img {
    width: 100px;
    height: auto;
    margin: 0 10px 0 0;
  }

  .latest-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .latest-deal-link a {
    color: red;
    font-size: 15px;
  }

  .see-all-deals a {
    font-size: 10px;
    color: red;
  }

  .footer-links-menu li a {
    font-size: 13px;
  }

  .lower-wrapper {
    display: flex;
    font-size: 13px;
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .deals-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .upper-wrapper {
    width: 60%;
  }

  .lower-wrapper {
    font-size: 15px;
  }

  .footer-links-menu li a {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 2560px) {
  .upper-wrapper {
    width: 35%;
  }
}

/* footer end */