* {
  box-sizing: border-box;
}

* > a {
  text-decoration: none;
}

.logo {
  background: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  padding: 16px 20px;
  width: 106px;
}

.header-right-items {
  display: block;
  height: 48px;
  padding: 16px;
  width: 48px;
}

.fa-search {
  transform: rotate(90deg);
  opacity: 0.25;
  font-size: 1.1em;
}

.announcement-bar {
  background-color: #fd3;
  color: #000;
  display: block;
}

.announcement-bar::after {
  content: "→";
}

.header-nav-top {
  background: #131313;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  max-height: 32px;
  display: flex;
  justify-content: space-between;
  width: 86vw;
}

.nav-top-list-first-child {
  margin-left: 20px;
  color: #fff;
}

.nav-top-link {
  margin-left: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.header-nav-bottom {
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: flex;
  justify-content: space-between;
  height: 48px;
  letter-spacing: 0.04em;
  line-height: 48px;
  font-size: 0.8em;
}

.nav-bottom-first-child {
  padding-left: 20px;
}

.nav-bottom-left {
  display: flex;
}

.nav-bottom-link {
  padding: 18px 10px 0;
  color: inherit;
}

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
  }

  .tablet {
    display: none;
  }

  .logo {
    height: 48px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
  }

  .burger-stripes {
    background-color: #f42;
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 4px;
  }

  .announcement-bar {
    line-height: 60px;
    font-size: 12px;
    text-align: center;
    padding: 0 6px;
  }

  .top-cover-wrapper {
    position: relative;
    top: 18vh;
  }

  .cover {
    min-height: 30vh;
    width: 100%;
  }

  .cover-left {
    background-image: url(./img/top-img-1.jpg);
    background-size: 96% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
  }

  .cover-right-top {
    background-image: url(./img/top-img-2.jpg);
    background-size: 96% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
  }

  .cover-right-bottom {
    background-image: url(./img/top-img-3.jpg);
    background-size: 96% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
  }
}

/* end */

/* tablet */

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  .mobile,
  .laptop {
    display: none;
  }

  .logo {
    float: left;
    height: 80px;
  }

  .header-nav {
    float: left;
  }

  .header-nav-top-left {
    float: left;
    display: flex;
  }

  .announcement-bar {
    line-height: 60px;
    font-size: 13px;
    padding-left: 126px;
    clear: both;
    text-align: left;
  }
}

/* end */

/* laptop-start */
@media only screen and (min-device-width: 769px) and (max-device-width: 2560px) {
  .mobile-tablet,
  .mobile {
    display: none;
  }

  .header-nav-top {
    width: 100vw;
  }

  .header-nav-top-left {
    float: left;
    display: flex;
  }

  .header-nav-top-right {
    display: flex;
    float: right;
  }

  .nav-top-last-child {
    margin-right: 20px;
  }

  .nav-bottom-first-child {
    padding-left: 18px;
  }

  .nav-bottom-icon {
    font-size: 1.5em;
    position: relative;
    top: -14px;
  }

  .nav-bottom-icon > a {
    font-size: 1.5em;
  }

  .announcement-bar {
    line-height: 30px;
    padding-left: 20px;
    clear: both;
  }
}

/* laptop end */

/*
footer start */

/* footer end */
