
* {
  box-sizing: border-box;
}

.logo {
  background: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  padding: 16px 20px;
  width: 106px;
}

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .header-nav {
    display: none;
  }

  .logo {
    height: 48px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-right {
    display: flex;
    justify-content: space-between;
  }

  .header-right-items {
    display: block;
    height: 48px;
    padding: 16px;
    width: 48px;
  }

  .burger-stripes {
    background-color: #f42;
    display: block;
    height: 2px;
    width: 20px;
    margin-bottom: 4px;
  }

  .fa-search {
    transform: rotate(90deg);
    opacity: 0.25;
    font-size: 1.1em;
  }
}

.announcement-bar {
  background-color: #fd3;
  color: #000;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
  padding: 0 6px;
}

.announcement-bar::after {
  content: "→";
}

/* end */

/* tablet */

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  * > a {
    text-decoration: none;
  }

  .header-right {
    display: none;
  }

  .logo {
    float: left;
    height: 80px;
  }

  .header-nav {
    float: left;
  }

  .header-nav-top {
    background: #131313;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    display: flex;
    width: 86vw;
  }

  .nav-top-list-first-child {
    margin-left: 20px;
    color: #fff;
  }

  .nav-top-link {
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.6);
  }

  .header-nav-bottom {
    font-weight: 500;
    text-transform: uppercase;
    color: #aaa;
    display: flex;
    height: 48px;
    letter-spacing: 0.04em;
    line-height: 48px;
    font-size: 0.8em;
  }

  .nav-bottom-first-child {
    padding-left: 20px;
  }

  .nav-bottom-link {
    padding: 18px 10px 0;
    color: inherit;
  }

  .announcement-bar {
    /* background: #fd3;
    color: #000; */
    line-height: 60px;
    font-size: 13px;
    padding-left: 126px;
    clear: both;
    text-align: left;
  }
}

/* end */

/* laptop-start */
@media only screen and (min-device-width: 769px) and (max-device-width: 2560px) {
  #div {
    margin-top: 20px;
  }
}

/* laptop end */
